@import 'lib';

$font-stack:    Helvetica, sans-serif ;
$primary-color: #333 ;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.content {
	display: block;
	width: 100%;
	background-color: #DDD;
}

.header {
	background:
		url("http://wallpapers.foxkeh.com//personas/95/a13a82516bd9491c3c262084b5e9e4_header.png")
		left top;
	display: block;
	width: 100%;
	li {
		border : 3px outset gray;
		background-color: gray;
		display: inline-block;
	}
}
.title {
	font-variant: small-caps;
}

h1 {
	@extend .title;
	border: 1px solid black;
	@include border-radius(10px);
}

h2 {
	@extend .title;
	text-decoration: underline;
}